/* 导航栏部分css */
nav{
  width: 1200px;
  height: 100px;
  background-color: rgb(247, 234, 234);
  position: relative;
  left: 10%;
}
#DHL{
  display: inline-block;
  padding: 0px;
}
.DHLxx{
  display: block;
  float: left;
  text-align: center;
  width: 200px;
  height: 100px;
  line-height: 100px;
}
.DHLxx:hover{
  background-color: gray;
  display: inline-block;
}
.DHLxx a:hover{
  color: red;
}
